.customize {
  padding: 24px;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 24px;
  box-sizing: border-box;
}

.customize,
.customize-wrapper,
.url-wrapper {
  display: flex;
  flex-direction: column;
}

.customize-wrapper {
  gap: 12px;
  padding: 24px 36px;
  background: var(--gray-200);
  border-radius: 7px;
  gap: 12px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.file-input {
  align-self: center;
}

.url-wrapper {
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
}

.url-wrapper__input {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  gap: 8px;

  > .input {
    width: 100%;
  }

  > .button {
    flex-grow: 1;
    padding-inline: 14px;
  }
}

.label-file {
  align-self: center;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.link-wrapper .button {
  width: 100%;
  box-sizing: border-box;
  text-wrap: nowrap;
  text-align: center;
  text-decoration: none;
}
